body {
    padding: 1%;
}

td,
th {
    text-align: center;
    vertical-align: middle;
}

td input {
    height: 24px;
}

th {
    line-height: 2rem;
    font-size: large;
}

input {
    width: 50px;
    text-align: center;
}

ul {
    margin: 15px 0;
}

.vale {
    background-color: #63FF90;
}

.naoVale {
    background-color: #E05958;
}

input[type="radio"]:hover {
    cursor: pointer;
}

input[type="text"]:disabled {
    background: #dddddd;
}

img {
    width: 100%;
}

@media (max-width: 600px) {
    td,
    th {
        font-size: small;
    }
    td input {
        width: 2rem;
    }
    th {
        line-height: 1rem;
    }
}